<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <div class="container">
    <a class="navbar-brand" href="{{ path('home')}}">
      <strong>Online Store</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('list_prdouct') }}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>

      {% if app.user %}
        <form class="d-flex">
          <p class="my-2 text-white">
            Welcome
            {{ app.user.email }}
          </p>&nbsp;

          {% if 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('admin_dashboard') }}" class="btn btn-success ml-3" title="Admin Dashboard" target="_blank">Dashboard</a>
           {% else %}
             <a href="{{ path('my_account') }}" class="btn btn-warning ml-3" title="Admin Dashboard" target="_blank">My Account</a>
          {% endif %}
&nbsp;&nbsp;
          <a href="{{ path('app_logout') }}" class="btn btn-danger ml-3">Logout</a>
        </form>
      {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-success ml-3">Login</a>
      {% endif %}
    </div>
  </div>
</nav>